extends ../index.pug

block title
  title 'hopix by unam'

block header
  include ../header.pug

block content
  section(class='section-login  section-login--users')
    form(class='section-login__form')
      input(
        class='input  section-login__form__field'
        type='text'
        placeholder='Usuario'
        data-login='data-username'
      )
      input(
        class='input  section-login__form__field'
        type='password'
        placeholder='Contraseña'
        data-login='data-password'
      )
      input(
        type='hidden'
        value= csrfToken
        name='_csrf'
        data-login='data-token'
      )
      button(
        class='btn  btn--login section-login__form__btn'
        data-login='submit'
      ) Iniciar Sesión
      span(
        class='section-login__form__message-error'
        data-login='message'
      )
