extends ../index.pug

block title
  title Inicia sesión

block header
  include ../header.pug

block content
  section(class='section-login-container' method='post' action='/login')
    form(class='section-login-container__form')
      input(
        class='input  section-login-container__form__field'
        type='text'
        name='username'
        placeholder='Usuario'
      )
      input(
        class='input  section-login-container__form__field'
        type='password'
        name='password'
        placeholder='Contraseña'
      )
      button(
        class='btn  btn--login section-login-container__form__btn'
      ) Iniciar Sesión
